
.clear{
    clear: both;
}

.containBookIndex{
    margin-top: 1px;
    margin-left: 5%;
    width: 90%;
    height: 700px;
    border: 1px solid black;
    border-radius: 20px;
    background: whitesmoke;
    box-shadow: 5px 5px 5px gray;
    position: relative;
}
.containBookIndex h1{
    text-align: center;
}
.clear{
    clear: both;
}
.imgstanderdBookIndex{
    max-width: 100%;
    max-height: 100%;
    /*display: block;*/
    /*margin: auto;*/
}
.imgcontainerBookIndex{
    position: relative;
    left: 5%;
    width: 20%;
    float: left;
}
.sourceindexBookIndex{
    width: 65%;
    height: 65%;
    background: wheat;
    margin-left: 10%;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:2px 2px 2px gray;
    position: relative;
}
.buttonBookIndex button{
    width: 15%;
    position: absolute;
    right: 5%;
    bottom: 10%
}
.indexulBookIndex{
    float: left;
    margin-left: 10%;
}
li{
    list-style: none;
    /*list-style: none;*/
}
.briefintroductionBookIndex{
    width: 90%;
    height: 40%;
    left: 5%;
    background: lightgray;
    position: absolute;
    bottom: 10%;
    font-family: "Times New Roman",Serif;
    font-size: 20px;
}