.topmenu{
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    left: 0;
    /*border-radius: 20px;*/
    /*background: lightblue;*/
    background-image: linear-gradient(lightblue,pink);
    opacity: 0.8;
}
.topmenubutton{
    top: 20%;
    margin-left:10%;
    /*height: 60%;*/
    /*width: 5%;*/
    /*background-image: linear-gradient(lightblue,lightseagreen);*/
    font-family: "Times New Roman";
    /*border: white;*/
    position: relative;
    /*background-color: rgba(red: 1, blue : 1,green :1, alpha: s0);*/
    opacity: 1;
    float: left;
}
.clear{
    clear: both;
}
.show{
    margin-top:0;
    /*background: black;*/
    width: 40%;
    height: 55%;
    margin-left: 30%;
    position: relative;
    clear: both;
}
#homepagebutton{
    float: left;
    margin-left: 1%;

}
#searchline{
    position: relative;
    margin-left: 0;
    width: 70%;
    float: left;
    margin-top: 5px;
}
#searchbutton{
    float: left;
    margin-left: 2px;
    /*height: 50%;*/
}
.searchdiv{
    float: left;
    margin-left: 26%;
    width: 30%;
    top : 20%;
    position: relative;
}
#loginbutton{
    top: 15%;
    color: greenyellow;
    position: relative;
    float: left;
}
.personalbutton{
    float: left;
    top:30%;
    margin-left: 5%;
    position: relative;
}
#PersonalCenter{

}
.DivideDiv{
    border: 1px black solid;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    margin-top: 10px;
    background-color: white;
    margin-left: 20%;
    box-shadow:2px 2px 2px #555;
    padding: 0;
}
.DownMenu{
    bottom: 0;
    height: 5%;
    background-image: linear-gradient(lightpink,lightblue);
    opacity: 0.5;
}
.wholepage{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.ThemeLine{
    top:0;
    position: relative;
    background-color: lightskyblue;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    margin-top: 0;
    object-fit: cover;
    overflow: hidden;
}
.ThemeInside{
    float: left;
    font-family: "Times New Roman";
    top:20%;
    position: relative;
    width: 100%;
}
.ShowBook {
    background-color: wheat;
    width: 30%;
    margin-left: 2.5%;
    height: 80%;
    border: 1px solid black;
    margin-top: 1%;
    float: left;
    border-radius: 10px;
}
.ShowBookImg{
    top: 0;
    left: 0;
    height: 88%;
    width: 100%;
    position: relative;
    /*border: 1px solid black;*/
    /*display: table-cell;*/
    vertical-align: middle;
}
.ShowBookImg img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}